In [11]:
from sklearn.ensemble import RandomForestClassifier as rfc
model = rfc()

In [15]:
import pandas as pd
data = pd.read_csv('data1.csv')

X = data.drop(columns=['label', 'age_group'])
y = data['label']

In [16]:
X.head()

   age  gender  employment_status  ...  race  hispanic     alpha
0   21       1                6.0  ...     1         1  900000.0
1   21       1                6.0  ...     1         1  900000.0
2   40       2                1.0  ...     1         1  900000.0
3   25       2                1.0  ...     1         1  900000.0
4   23       2                1.0  ...     2         1  900000.0

[5 rows x 10 columns]

In [17]:
import numpy as np

X = np.array(X, dtype='int')
y = np.array(y, dtype='int')

In [19]:
from sklearn.model_selection import cross_val_score

cross_val_score(model,X,y,cv=5, scoring='f1') # 5 fold cross validation

array([0.53125978, 0.53174851, 0.53184614, 0.5303775 , 0.53135761])